@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&family=STIX+Two+Math&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url('../img/background2.jpg');
    background-size: cover;
    background-attachment: fixed;
}

.logo {
    margin: 40px 0;
    text-align: center;
    animation: bandeira 3s;
}

.logo img {
    width: 200px;
}

@keyframes bandeira {
    from {
        transform: rotate(0) scale(1) skew(0,0);
        opacity: 0;
    }
    to {
        transform: rotate(1080deg) scale(0.7) skew(30deg,50deg);
        opacity: 1;
    }
}

.formulario {
    margin: 0 auto;
    margin-bottom: 40px;
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 500px;
    background-color: rgba(79, 146, 201, 0.86);
    border-radius: 5px;
    font-family: 'STIX Two Math', serif;
    font-size: 18px;
}

legend {
    position: relative;
    right: 120px;
}

label {
    display: block;
}

.maioridade label, .tourist label {
    display: inline-block;
}

fieldset {
    border: none;
}

#nome, #email, #telefone, #dataNascimento, #turistando, button {
    width: 20vw;
    height: 5vh;
    border-radius: 3px;
    border: 1px solid gray;
}

input, select {
    margin-bottom: 10px;
    transition: all 3ms ease-in-out;
}

input:hover, select:hover {
    transform: scale(1.3);
}

input:focus {
    outline-color: orange;
}

button {
    margin-top: 10px;
    background-color: darkblue;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    transition: all 10ms ease-in-out;
    cursor: pointer;
}

.btn-send:hover {
    background-color: green;
}

.btn-canc:hover {
    background-color: red;
}